**/*.o
**/*.e
**/*.so
**/*.exe
**/vusphydro
splinter/build/
Hydro-master/outputfiles/
Hydro-master/inputfiles/derivFile.dat
Hydro-master/inputfiles/quantityFile.dat
*.dat
Hydro-master/ICCING_and_SPH.pdf
Hydro-master/ICCING_and_SPH_T0_1200.pdf
Hydro-master/eSPH.pdf
*.ipynb
