local/**
**/*.o
**/*.e
**/*.so
**/*.exe
**/vusphydro
splinter/build/
Hydro-master/outputfiles/
Hydro-master/inputfiles/derivFile.dat
Hydro-master/inputfiles/quantityFile.dat
*.dat
Hydro-master/ICCING_and_SPH.pdf
Hydro-master/ICCING_and_SPH_T0_1200.pdf
Hydro-master/eSPH.pdf
*.ipynb
.DS_Store
*.zip
*.cmake
*.out
*.bin
*.check_cache
**/build/**
**/bin/**
*.swp
*.db
OVERHAUL/.vs/OVERHAUL/v17/.suo
*.json
*.sqlite
*.sif